@use '../abstracts/variables' as v;

#aurebesh {
    text-align: center;
}

.name {
    text-align: center;
    color: v.$primary-color;
    list-style: none;
}

ul {
    padding: 0px;
}

.info-box {

    padding: 30px;
}

.info {
    border: 3px solid v.$primary-color;
    height: 600px;
}

a {
    cursor: pointer;
    font-weight: 800;
    font-size: 1.2em;
}

.name {
    padding: 2.5px 0;
}

.movie-heading {
    padding: 20px 0px 5px;
}

//scroll through for mobile 

.character-container {
    ul{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    }
  
}

#character-box {
    display: flex;
    overflow-x: hidden;
    gap: 24px;
    padding: 10px;
    scroll-behavior: smooth;
    width: 200px;
}

.character-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    text-align: center;
}

.character-img {
    width: 90%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.arrow {
    position: absolute;
    top: 19%;
    background-color: rgba(91, 255, 247, 0.123);
    color: rgb(128, 219, 255);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 1.5em;
}

.arrow.left {
    left: 50px;
}

.arrow.right {
    right: 50px;
}


@media screen and (min-width: 1200px) {
    .info-box {
        margin-top: 3em;
        border: solid 5px v.$primary-color;
        padding: 15px;
        width: 100%;
    }

    .name {
        font-size: 1.5em;
        font-weight: 700;
        padding: 10px 0;
    }

    .character-container {
        ul{ 
            display: block;
        }
    }

    .character-img{
        width: 50%;
    }

    .arrow {
        display: none;
    }

}

//character

