@use '../abstracts/variables' as v;

#aurebesh {
    text-align: center;
}

.name {
    text-align: center;
    color: v.$primary-color;
    list-style: none;
}

ul {
    padding: 0px;
}

.info-box {

    padding: 30px;
}

.info {
    border: 3px solid v.$primary-color;
    height: 600px;
}

a {
    cursor: pointer;
}